.products_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 40px;
  width: 100%;
  margin: 40px 0;
}


@media (max-width: 1200px) {
  .products_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 850px) {

   
  .products_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
     margin: 17px 0;
  }
}


@media (max-width: 480px) {
  .products_grid {
    grid-template-columns: 1fr;
  }
}

.empty_message {
  text-align: center;
  padding: 50px;
  font-size: 20px;
  color: #8B8B8B;
}