.input {
  width: 100%;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 125%;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;
 }


.dark {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.dark::placeholder {
  color: #ffffff;
}

.dark:focus {
  border-color: #000000; 
}


.light {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #282828;
}

.light::placeholder {
  color: #8b8b8b;
}

.light:focus {
  border-color: #0d50ff; 
}